<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.mypro.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zyl.mypro.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, name, create_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user where id = #{id}
  </select>

  <update id="updateById">
    update t_user set create_time = now()
    where id in
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      id = #{id}
    </foreach>

  </update>

  <update id="updateUserById">
    update t_user set
      name = #{user.name},
      update_time = #{user.updateTime}
    where id = #{user.id}
  </update>

</mapper>